body {
  font-family: Arial, sans-serif;
  background-color: #ffe6f0;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ff99cc;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

h1 {
  margin: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 2rem;
}

#calendar {
  max-width: 700px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.formulario {
  background-color: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

input,
select,
button {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #ff66b2;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #ff3399;
}
